@model List<Product>

<h2>Danh sách sản phẩm</h2>



<table class="table-bordered text-center w-100">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Loại sản phẩm</th>
            <th>Mô tả </th>
            <th>Giá tiền</th>
            <th>Trạng thái sản phẩm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>
                    <img width="200px" src="~/Images/Product/SachTamly/@product.Image" />
                </td>
                <td>@product.Type</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Status</td>
            </tr>
        }
    </tbody>
</table>
