@model Invoice
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethodsID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethodsID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoucherID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Invoices" asp-action="Index">Quay lại </a>
</div>
